html {
  height: 100%;
  width: 100%;
}
img {width: 75px;
  height: 75px;
}
body {
  background-color: black;
  background-image: url("background.jpg");
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  color: white;
}
.back-to-homepage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}